body {
    background-color: lightgrey;
}

.navlinks {
    margin-bottom: 30px;
}

.container {
    margin: 50px auto;
}

.card p-4 {
    display: inline-block;
}

.profile {
    border: 2px solid #5a6268;
}

.profile-thumbnail{
    height: 30px;
    width: 30px;
}

profile-img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.profile-link {
    display: block;
    margin: 10px auto;
}

.profile row {

}

.profile-photo {
    margin: auto 0px;
}

.profile-info {
    padding: 15px;
    margin-left: 40px;
}

h4 {
    margin-top: 30px;
}

.chosen-container {
    width: 100% !important;
}
.chosen-container ul {
    padding:5px !important;
}