<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Inbox</title>
    <th:block th:include="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: navlinks"></div>

    <div class="container">
        <table class="table table-hover">
            <tbody>
            <tr th:each="privatemessage : ${privatemessages}">
                <td>
                    <div>
                        <span th:text="${privatemessage.sender.firstName}"></span>
                    </div>

                    <div>
                        <span th:text="${privatemessage.messageContent}"></span>
                    </div>
                    <div>
                        <img class="profile-thumbnail"
                             th:src="${privatemessage.sender.picUrl}"
                             alt="profile-thumbnail"/>
                        <a class="card-link btn btn-warning"
                           th:href="@{/profile/{id}(id=${privatemessage.sender.id})}"><span th:text="${privatemessage.sender.username}"></span></a>
                        <span
                                th:text="${#dates.format(privatemessage.dateSent, 'dd MMM yyyy')}"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base ::footer"></div>
</body>
</html>
