<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Inbox</title>
    <th:block th:include="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: navlinks"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="container">
                <div class="col-md-3">
                </div>
                </div>
                <div class="col-md-9">
                    <div class="container" th:each="privatemessage : ${privatemessages}">
                        <th:h2>[[${privatemessage.sender.firstName}]]</th:h2>
                        <th:div class="card">
                            <th:div class="card-header">[[${privatemessage.subject}]]</th:div>
                            <th:div class="card-body">[[${privatemessage.messageContent}]]</th:div>
                            <th:div class="card-footer">[[${#temporals.format(privatemessage.dateSent)}]]</th:div>
                            <a th:href="@{/coursedetail/{id}(id=${privatemessage.course.id})}" class="btn btn-primary btn-sm">Go To Course</a>
                        </th:div>
                    </div>
                </div>
            </div>
        </div>



    <div th:replace="base ::footer"></div>
</body>
</html>
