<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: navlinks"></div>

    <div class="container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div>
                <label>User Name: <input type="text" name="username"/></label>
            </div>
            <div>
                <label>Password: <input type="password" name="password"/></label>
            </div>
            <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>
        </form>

    </div>

    <div th:replace="base ::footer"></div>
</body>
</html>