<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>New Message</title>
    <th:block th:include="base :: header"></th:block>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="/css/chosen.min.css" type="text/css" />
</head>
<body>
    <div th:replace="base :: navlinks"></div>

    <div class="container">

        <form method="post" action="#" th:action="@{/messageform}" th:object="${privateMessage}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:value="${course_id}" name="course_id">

            <div class="form-group">
                <label for="to">To</label>
                    <select name="receiver_id"  class="chosen-select" multiple id="to"/>
                    <option th:each="user : ${users}"
                            th:text="${user.firstName}"
                            th:value="${user.id}">
                    </option>
                    </select>
            </div>
                <!--<div th:each="user : ${users}">-->
                    <!--<input type="checkbox"  th:value="${user.id}" name="receiver_id" />-->
                    <!--<label th:text="${user.firstName}"></label>-->
                <!--</div>-->
                <!--</fieldset>-->
            <!--</div>-->
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" th:field="*{subject}" id="subject">
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" th:field="*{messageContent}"
                          id="content" name="message"></textarea>
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('messageContent')}" th:errors="*{messageContent}"></span>
            </div>
            <button type="submit" value="Submit" class="btn btn-primary"/>
            <button type="reset" value="Reset"
                    class="btn btn-warning"/>
        </form>
    </div>

    <div th:replace="base ::footer"></div>
</body>
</html>
