<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>News Feed</title>
    <th:block th:include="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: navlinks"></div>

    <div class="container">
        <h2>Posts for <span th:text="${course.name}"></span></h2>

        <table class="table table-hover">
            <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <div th:if="${post.title != ''}">
                            <strong><span
                                    th:text="${post.title}"></span></strong>
                        </div>
                        <div th:if="${post.link != ''}">
                            <a th:href="@{${post.link}}" target="_blank">
                                <span th:text="${post.link}"></span>
                            </a>
                        </div>
                        <div>
                            <span th:text="${post.content}"></span>
                        </div>
                        <div>
                            <img class="profile-thumbnail"
                                 th:src="${post.user.picUrl}"
                                 alt="profile-thumbnail"/>
                            <a class="card-link btn btn-warning"
                               th:href="@{/profile/{id}(id=${post.user.id})}"><span th:text="${post.user.username}"></span></a>
                            <span
                                    th:text="${#dates.format(post.posteddate, 'dd MMM yyyy')}"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base ::footer"></div>
</body>
</html>