<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Register</title>
    <th:block th:include="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: navlinks"> </div>

    <div class="container">
        <h2>My Profile</h2>

        <form method="post"
              action="/processUser"
              th:action="@{/register}"
              th:object="${user}"
              enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" th:field="*{email}" id="email">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" th:field="*{username}"
                       id="username">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}"
                       id="password">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div class="form-group">
                <label for="linkedIn">LinkedIn</label>
                <input type="text" class="form-control" th:field="*{linkedIn}"
                       id="linkedIn">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('linkedIn')}" th:errors="*{linkedIn}"></span>
            </div>

            <div class="form-group">
                <label for="github">GitHub</label>
                <input type="text" class="form-control" th:field="*{github}"
                       id="github">
                <span class="text-danger border border-danger rounded" th:if="${#fields.hasErrors('github')}" th:errors="*{github}"></span>
            </div>

            <div class="form-group">
                <input type="hidden" th:value="${img_url}" name="img_url"/>
                <div th:if="${img_url != null}">
                    <img th:src="${img_url}" alt="profile photo"/>
                </div>
            </div>

            <div class="form-group">
                <label for="file">Upload/update your profile photo</label>
                <input type="file" class="form-control" id="file" name="file" />
                <span th:if="${uploadPhotoMessage != null}">
                    <span class="text-danger border border-danger rounded"
                          th:text="${uploadPhotoMessage}"></span>
                </span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary"/>
                <input type="reset" value="Reset" class="btn btn-warning"/>
            </div>
        </form>
    </div>

    <div th:replace="base ::footer"></div>
</body>
</html>